:root {
    --accent-color:#DE742BE5;
    --text-color:#000;
    --background-color: #FCFCFC;
}

*,
*::after
*::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}
 
a {
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

body {
    font-family: "Bookman Old Style";
}

.container {
    width: 1700px;
    padding-left: 10px;
    padding-right:10px ;
    margin: 0 auto;
    outline: solid 3px color red;
  }

header {
 background-color: var(--accent-color);
}

.nav-link {
color: var(--text-color);
text-align: center;
font-size: 26px;
font-weight: 300px;
line-height: 2.1;
}

.nav-image {
 width: 64px;
height: 39px;
}
/* секція клуб */

.club-title {
color: var(--text-color);
text-align: center;
font-size: 90px;
font-weight: 600;
line-height: 2.22;
}

.club-text {
width: 875px;
color: var(--text-color);
font-size: 50px;
font-style: normal;
font-weight: 300;
line-height: 3.30; /* 65px */
}

.club-image {
width: 539px;
height: 761px;
}

.club-btn {
padding: 20px 42px;
align-items: flex-start;
gap: 10px;
}

/* секція робота */

.work-a {
color: var(--accent-color);
text-align: center;
font-size: 26px;
font-weight: 600;
line-height: normal;
}

.work-title {
color: var(--text-color);
text-align: center;
font-size: 50px;
font-weight: 300;
line-height: 130%;
}

.work-img {
    width: 206px;
    height: 206px;
}

.work-text {
    color: var(--text-color);
    text-align: center;

    font-size: 34px;
    font-weight: 300;
    line-height: 130%; /* 44.2px */
}

.section-find {
    background-color: var(--accent-color);
}

/* секція знайти */

.find-a {
    color: var(--background-color);
    text-align: center;

    font-size: 26px;
    font-weight: 600;
    line-height: normal;
}

.find-title {
    color: var(--text-color);
    text-align: center;

    font-size: 50px;
    font-weight: 300;
    line-height: 130%;
}

.find-image {
    width: 418px;
    height: 590px;
}

.find-text {
    color: var(--text-color);
    width: 824px;
    height: 82px;
}

/* секція навчання */

.teaching-a {
    color: var(--text-color);
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    line-height: normal;
}

.teaching-title {
    color: var(--text-color);
    text-align: center;

    font-size: 50px;
    font-weight: 300;
    line-height: 130%; /* 65px */
}

.teaching-text {
    color: var(--text-color);
    text-align: center;

    font-size: 34px;
    font-weight: 300;
    line-height: 130%;
}

.teaching-desc {
    color: var(--text-color);
    text-align: center;

    font-size: 34px;
    font-weight: 300;
    line-height: 130%;
}


.teaching-img {
    width: 956px;
    height: 505px;
}



.travel-link {
    color: var(--text-color);
    text-align: center;

    font-size: 26px;
    font-weight: 600;
    line-height: normal;
}

.travel-title {
    color: var(--text-color);
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    line-height: 130%; 
}

.travel-img {
    width: 678px;
    height: 392px;
}

.travel-text {
    color: var(--text-color);

    font-size: 34px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
}

.travel-imade {
    width: 405px;
    height: 500px;
    flex-shrink: 0;
}

.team-link {
    color: var(--background-color);
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    line-height: normal;
}

.team-title {
    color: var(--text-color);
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    line-height: 130%;
}

.team {    background-color: var(--accent-color);
}

.team-paragraph {
color: var(--text-color);
text-align: center;
font-size: 34px;
font-weight: 300;
line-height: 130%;
}

.team-text {
color: var(--text-color);
text-align: center;
font-size: 26px;
font-weight: 300;
line-height: normal;
}

.team-desc {
color: var(--text-color);
text-align: center;
font-size: 26px;
font-weight: 300;
line-height: normal;
}

.team-description {
color: var(--text-color);
text-align: center;
font-size: 26px;
font-weight: 300;
line-height: normal;
}

.section-response {
width: 1330px;
height: 332px;
border-radius: 20px;
background: var(--accent-color);
justify-content: center;
margin-bottom: 120px;
}

.response-link {
color: var(--text-color);
text-align: center;
font-size: 26px;
font-weight: 600;
line-height: normal;
}

.response-title {
    color: var(--text-color);
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    line-height: 130%;
}

.response-paragraph {
    color: var(--text-color);
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; 
}

.response-text {
    color: var(--text-color);
    font-size: 26px;
    font-weight: 300;
    line-height: normal;
}

.response-desc {
    color: var(--text-color);
    font-size: 26px;
    font-weight: 300;
    line-height: normal;
}

.response-image {
    width: 76px;
    height: 107px;
    flex-shrink: 0;
}

footer {
    background-color: var(--accent-color);
}

.address-link {
color: var(--text-color);
text-align: center;
font-size: 41.619px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.address-text {
color: var(--text-color);
text-align: center;
font-size: 18px;
font-weight: 300;
line-height: normal;
}

.address {
color: var(--text-color);
text-align: center;
font-size: 18px;
font-weight: 300;
line-height: normal;
}

.address-icon {
width: 24px;
height: 24px;
border-radius: 6px;
border: 2px solid var(--text-color);
}




